
    <footer>
        <div class="container">
            <div class="flex-row">
            <div class="dao-footer py-5">
                <div class="py-2">
                    <a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.84 9.05001C10.2936 9.05001 9.04004 10.3036 9.04004 11.85C9.04004 13.3964 10.2936 14.65 11.84 14.65C13.3864 14.65 14.64 13.3964 14.64 11.85C14.6427 11.1066 14.3486 10.3928 13.8229 9.86716C13.2972 9.34148 12.5835 9.04734 11.84 9.05001Z" fill="#6210E8"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.69 2H8C4.68629 2 2 4.68629 2 8V15.69C2 19.0037 4.68629 21.69 8 21.69H15.69C19.0037 21.69 21.69 19.0037 21.69 15.69V8C21.69 4.68629 19.0037 2 15.69 2ZM11.84 16.14C9.47298 16.1345 7.5555 14.217 7.55 11.85C7.54596 10.109 8.59213 8.53737 10.1998 7.86924C11.8075 7.20112 13.6595 7.56838 14.8905 8.79945C16.1216 10.0305 16.4889 11.8825 15.8208 13.4902C15.1526 15.0979 13.581 16.144 11.84 16.14ZM15.5749 6.91176C15.7462 7.31997 16.1473 7.58404 16.59 7.58C17.1865 7.58 17.67 7.09647 17.67 6.5C17.674 6.05734 17.41 5.6562 17.0018 5.48493C16.5936 5.31366 16.1223 5.40628 15.8093 5.7193C15.4963 6.03232 15.4037 6.50356 15.5749 6.91176Z" fill="#6210E8"/>
                       </svg>
                   </a>
                   <a href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_24_279" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="18" height="18">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.00006H20.9565V20.9558H3V3.00006Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_24_279)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9745 16.977C17.9761 17.1751 17.9123 17.232 17.7196 17.2275C17.1721 17.217 16.6245 17.2088 16.0778 17.2305C15.8033 17.2418 15.7207 17.1705 15.7245 16.8849C15.7411 15.654 15.7305 14.4226 15.7327 13.1911C15.7327 12.8536 15.7103 12.5191 15.5865 12.201C15.3765 11.6641 15.0142 11.3004 14.4136 11.2478C13.7745 11.1916 13.3103 11.4825 12.9968 12.0219C12.7913 12.3751 12.7441 12.7696 12.7448 13.173C12.7478 14.4173 12.7381 15.6608 12.7522 16.9043C12.7561 17.1721 12.6742 17.2388 12.4177 17.2298C11.871 17.2111 11.3235 17.2156 10.7761 17.2284C10.5661 17.2335 10.5022 17.1706 10.5022 16.9576C10.5091 14.3955 10.5082 11.8335 10.5038 9.27163C10.5038 9.08787 10.5413 9.0053 10.7482 9.00987C11.3325 9.02255 11.9175 9.02255 12.5017 9.00987C12.7042 9.00612 12.7575 9.07955 12.7492 9.26862C12.7365 9.57538 12.7462 9.8828 12.7462 10.2698C13.6126 9.1988 14.6557 8.84713 15.8948 9.09687C17.0948 9.33905 17.9205 10.4191 17.955 11.8659C17.9955 13.5683 17.9656 15.273 17.9745 16.977ZM7.89081 8.05662C7.16398 8.05505 6.59548 7.47905 6.59706 6.74712C6.59848 6.02405 7.18431 5.43462 7.89823 5.43605C8.61306 5.4383 9.19356 6.03005 9.19131 6.7538C9.18973 7.48737 8.61981 8.05805 7.89081 8.05662ZM8.69481 17.2305C8.14874 17.2088 7.60056 17.217 7.05381 17.2275C6.85799 17.2314 6.76956 17.1953 6.77024 16.9673C6.77781 14.4068 6.77699 11.8471 6.77099 9.28655C6.77024 9.08112 6.81981 9.0038 7.03874 9.00987C7.59756 9.02405 8.15774 9.02787 8.71581 9.0083C8.97299 8.9993 9.02024 9.09455 9.01881 9.32705C9.00906 10.5945 9.01424 11.862 9.01424 13.1303C9.01424 14.385 9.00681 15.6406 9.01956 16.896C9.02256 17.151 8.96399 17.2411 8.69481 17.2305ZM20.9182 6.03762C20.8672 5.6303 20.8605 5.21105 20.6355 4.84662C19.9073 3.66537 18.9022 2.99255 17.4615 3.00012C13.8166 3.01887 10.1716 3.00012 6.52649 3.01287C5.97906 3.0143 5.41581 3.0323 4.91856 3.3263C3.70498 4.0448 2.99248 5.04905 3.00006 6.5213C3.01723 10.1784 3.00006 13.8353 3.01198 17.493C3.01423 18.0083 3.02181 18.5475 3.29173 19.0118C3.92923 20.1099 4.76931 20.9251 6.14924 20.9198C6.18899 20.9198 6.21981 20.9385 6.25281 20.9558H17.7466C17.8103 20.8988 17.8883 20.9273 17.9603 20.9183C18.3735 20.8665 18.8003 20.8643 19.167 20.6273C20.1922 19.9643 20.946 19.1295 20.9228 17.8103C20.9228 17.787 20.9392 17.7661 20.9566 17.7466V6.25287C20.9055 6.18762 20.9272 6.1103 20.9182 6.03762Z" fill="#6210E8"/>
                        </g>
                        </svg>                        
                   </a>
                    <a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.34 4.73775C4.0451 5.52592 4.8292 6.23965 5.68 6.86775C6.47421 7.39406 7.32651 7.82692 8.22 8.15775C8.93678 8.42019 9.67673 8.61438 10.43 8.73775L11.43 8.81775C11.1881 7.72992 11.4051 6.59049 12.03 5.66775C12.6818 4.78163 13.6545 4.18579 14.74 4.00775C15.5549 3.96099 16.3681 4.12637 17.1 4.48775C18.02 5.02775 18.1 5.22775 18.1 5.22775C18.6447 5.12942 19.1753 4.96487 19.68 4.73775L20.54 4.27775C20.3888 4.79641 20.1182 5.27245 19.75 5.66775C19.26 6.11775 18.81 6.44775 18.81 6.44775C19.2547 6.44196 19.6949 6.35731 20.11 6.19775L21.11 5.83775C20.7832 6.31215 20.4078 6.75119 19.99 7.14775C19.51 7.52775 19.12 7.87775 19.12 7.87775C19.2406 9.92007 18.772 11.954 17.77 13.7378C17.0179 15.1884 15.9355 16.4421 14.61 17.3978C13.3205 18.3383 11.8381 18.9804 10.27 19.2778C9.04955 19.5007 7.80309 19.5445 6.57 19.4078C5.5804 19.2572 4.61094 18.9956 3.68 18.6278C3.07093 18.4348 2.50178 18.1333 2 17.7378C3.14684 17.8956 4.31472 17.7826 5.41 17.4078C6.25342 17.0774 7.05281 16.6441 7.79 16.1178C7.2317 16.1128 6.68157 15.983 6.18 15.7378C5.55966 15.4447 5.03076 14.9884 4.65 14.4178C4.48798 14.1737 4.34745 13.9161 4.23 13.6478L4.16 13.3978C4.43127 13.4645 4.71137 13.4881 4.99 13.4678L5.91 13.3278C5.11136 13.1788 4.38394 12.7712 3.84 12.1678C3.25115 11.5315 2.89819 10.7127 2.84 9.84775V9.43775C3.14966 9.62399 3.48733 9.75906 3.84 9.83775C4.08057 9.90563 4.33017 9.93599 4.58 9.92775C3.81336 9.43637 3.24629 8.68855 2.98 7.81775C2.68097 6.78444 2.81073 5.67425 3.34 4.73775Z" fill="#6210E8"/>
                        </svg>
                   </a>
                </div>
                 <div>Govdao Labs © 2021</div>
                <div>
                </div>
            </div>
        </div>        
    </footer>