
<html> 
    <head>
        <title>Govdao - Wallet</title> 
        <link rel="stylesheet" href="https://gists.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css
        " crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <script src="/dist/web3.min.js"></script>

    </head>
    <body> 
        <head>
            <div class="d-flex dao-head bg-white p-2 shadow-sm ">
                <div class="logo mr-4">
                    <img src="/logo.svg">
                </div>
                <div class="dao-menu">
                    <a class="home-icon" href="#">Home</a>
                    <a class="community-icon" href="#">Community</a>
                    <a class="proposals-icon" href="#">Proposals</a>
                    <a class="market-icon" href="#">Marketplace</a>
                </div>
                <div class="dao-account px-4">
                    <div class="dao-network dao-primary dao-secondary-text rounded-lg p-2">Avalaunch - 242 GOV</div>
                    <div class="dao-profile ml-3">
                        <div class="account-number pr-2" id="accAddress"></div>
                        <div class="metamask-logo">
                            <img src="/metamask-logo.png">
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </head>