<%- include('header') %>
    <section>
        <div class="container">
            <div class="flex-row pt-5">
                <div class="d-flex flex-column justify-content-center">
                    <div class="create-title p-2 text-center dao-dark-text">Wallet</div>
                    <div class="d-flex justify-content-center align-items-center ml-3">
                        <div class="account-number pr-2">
                         0x5a...03DC
                        </div>
                         <div class="metamask-logo">
                             <img src="/metamask-logo.png">
                         </div>
                         
                     </div>
                </div>
                <div class="proposal-title pb-2">
                    Open Proposals
                </div>
                <div class="d-flex">
                    <div class="col-md-2 bg-white shadow-sm p-3 my-2 rounded-lg">
                        <img src="/NFT1.png">
                        <div class="proposal-sub-title py-2">Cool Cat</div>
                        <div> #1490</div>
                    </div>
                    <div class="col-md-2 bg-white shadow-sm p-3 my-2 rounded-lg">
                        <img src="/NFT2.png">
                        <div class="proposal-sub-title py-2">Cool Cat</div>
                        <div> #1490</div>
                    </div> 
                    <div class="col-md-2 bg-white shadow-sm p-3 my-2 rounded-lg">
                        <img src="/NFT3.png">
                        <div class="proposal-sub-title py-2">Cool Cat</div>
                        <div> #1490</div>
                    </div>
                    <div class="col-md-2 bg-white shadow-sm p-3 my-2 rounded-lg">
                        <img src="/NFT4.png">
                        <div class="proposal-sub-title py-2">Cool Cat</div>
                        <div> #1490</div>
                    </div> 
                    <div class="col-md-2 bg-white shadow-sm p-3 my-2 rounded-lg">
                        <img src="/NFT5.png">
                        <div class="proposal-sub-title py-2">Cool Cat</div>
                        <div> #1490</div>
                    </div>
                    <div class="col-md-2 bg-white shadow-sm p-3 my-2 rounded-lg">
                        <img src="/NFT1.png">
                        <div class="proposal-sub-title py-2">Cool Cat</div>
                        <div> #1490</div>
                    </div> 
                    
                </div>
                <div class="proposal-title pt-4">
                    My Votes
                </div>
                <div class="d-flex">
                    <div class="col-md-3 bg-white d-flex flex-column align-items-center justify-content-center shadow-sm p-3 my-2 rounded-lg">
                        <div class="dao-primary rounded-circle my-votes-avatar">
                            <img class="" src="/project-avatar.png">
                        </div>
                        <div class="proposal-title py-2">Axie Infinity</div>
                        <div class="recent-vote-title p-3 dao-dark-text">Suspendisse sed nisi lacus sed?</div>
                      <button class="dao-secondary p-2 mx-3 rounded-lg text-center dao-primary-text border-0" disabled>Yes</button>
                    </div>
                    <div class="col-md-3 bg-white d-flex flex-column align-items-center justify-content-center shadow-sm p-3 my-2 rounded-lg">
                        <div class="dao-primary rounded-circle my-votes-avatar">
                            <img class="" src="/project-avatar.png">
                        </div>
                        <div class="proposal-title py-2">Axie Infinity</div>
                        <div class="recent-vote-title p-3 dao-dark-text">Suspendisse sed nisi lacus sed?</div>
                      <button class="dao-secondary p-2 mx-3 rounded-lg text-center dao-primary-text border-0" disabled>Yes</button>
                    </div>
                    <div class="col-md-3 bg-white d-flex flex-column align-items-center justify-content-center shadow-sm p-3 my-2 rounded-lg">
                        <div class="dao-primary rounded-circle my-votes-avatar">
                            <img class="" src="/project-avatar.png">
                        </div>
                        <div class="proposal-title py-2">Axie Infinity</div>
                        <div class="recent-vote-title p-3 dao-dark-text">Suspendisse sed nisi lacus sed?</div>
                      <button class="dao-secondary p-2 mx-3 rounded-lg text-center dao-primary-text border-0" disabled>Yes</button>
                    </div>
                </div>
              
            </div>
        </div>
       
    </section>
    <%- include('footer') %>
    <%- include('loadScripts') %>
  </body>
</html>